<link rel="stylesheet" type="text/css" href="stylesheets/style.css">

<div class="row">
  <!-- 入力エリア -->
  <div class="col-md-6 col-sm-12">
    json:<br>
    <textarea id="editor"></textarea>
  </div>

  <!-- 出力エリア -->
  <div class="col-md-6 col-sm-12">
    ruby:<br>
    <div id="result"></div>
  </div>
  <br>
</div>

<div class="row">
  <!-- 実行ボタン -->
  <div class="col-md-12 col-sm-12">
    <button id="execute">実行</button>
  </div>
</div>

<script src="javascripts/execute.js"></script>
