<button id="execute">実行</button>
<p>input: <input id="editor" type="text" size="20" /></p>
<p>output: <div id="result"></div></p>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="javascripts/execute.js"></script>
